body {
    margin: 0;
}
header {
    height: 40px;
    background-color: lightgray;
}
#logo {
    height:100%;
    padding-left: 10px;
    vertical-align:middle
}
#cerca {
    height: 100%;
    text-align: center;
    padding-right: 200px;      
}
.naviga {
    display: inline;
}
.naviga a{
    margin-right: 15px ;
}
